.main {
    margin-top: 40px;
    margin-left: 40%;
}
.main_input {
    border: 2px solid #0d530b;
}
#searchButtonId {
    background-color: #d5a9a9;
    color: #000000;
}
#searchButtonId:active {
    background-color: cornflowerblue;
    color: antiquewhite;
}
h1 {
    color: hotpink;
    margin-left: 43%;
    margin-top: 2%;
}
h4 {
    color: #b10000;
    margin-left: 2%;
    margin-top: 4%;
}
p {
    border-color: #b10000;
    margin-left: 30px;
}
.image {
    margin-left: 2%;
    margin-top: 20%;
    width: 8%;
    height: 20%;
}